$brown_bg: #423437;
$white_bg: #fff;
$red_border: #96272f;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100vh;
}

.calculator {
	border-top: 1px solid $red_border;
	border-left: 1px solid $red_border;
	width: fit-content;
	display: flex;
	flex-flow: row wrap;
	width: 400px;
	p {
		width: 400px;
		height: 100px;
		margin: 0;
		border-bottom: 1px solid $red_border;
		border-right: 1px solid $red_border;
		padding: 0 30px;
		background-color: $brown_bg;
		color: $white_bg;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-end;
		font-size: 30px;
		overflow: scroll;
	}
}
