.App {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	div {
		margin: 2px;
	}
	span#counter-value {
		font-size: 20px;
		width: 25px;
		text-align: center;
		padding-top: 5px;
	}
}
