$red_bg: #ec394f;
$red_border: #96272f;
$grey_txt: #797979;
$white_bg: #fff;

button {
	width: 100px;
	height: 100px;
	border: none;
	outline: none;
	border-bottom: 1px solid $red_border;
	border-right: 1px solid $red_border;
	font-weight: 600;
	font-size: 40px;
	background-color: $white_bg;
}
.clear_btn {
	font-weight: 400;
	width: 300px;
	color: $grey_txt;
}
.operation {
	color: $white_bg;
	background-color: $red_bg;
}
