$increment_color: #61d161;
$decrement_color: #ec3b5e;

button {
	padding: 8px;
	border-radius: 3px;
	outline: none;
	border: none;
	color: white;
}
hr {
	outline: none;
	border: none;
}
.decrement-div {
	button {
		background-color: $decrement_color;
	}
	hr {
		border-bottom: 2px solid $decrement_color;
	}
}
.increment-div {
	button {
		background-color: $increment_color;
	}
	hr {
		border-bottom: 2px solid $increment_color;
	}
}
