@import './color';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

$mobile_screen: 500px;
$medium_screen: 750px;

html,
body {
	width: 100%;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	display: flex;
	flex-flow: row nowrap;
	background-color: $grey_bg;
}
@import './sidebar';
