// styles for Dashboard side bar
.sidebar {
	z-index: 1;
	position: fixed;
	width: 200px;
	min-width: 190px;
	@media (max-width: $medium_screen) {
		display: none;
	}
	.logo {
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary;
	}
	.content {
		background-color: #fff;
		height: calc(100vh - 65px);
		padding-top: 5px;
		box-shadow: 0px 0px 3px 0px #0000007a;
		a {
			margin: 10px 0;
			color: $grey_text;
			padding: 10px 20px;
			display: block;
			text-decoration: none;
			span {
				float: right;
			}
		}
		.active {
			border-left: 3px solid $blue;
			background-color: #e6f8ff;
		}
		:hover {
			background-color: #e6f8ff;
		}
		hr {
			border: 0;
			margin: 0 20px;
			border-top: 1px solid #eaeef3;
		}
	}
}

// main container
main {
	margin-left: 200px;
	width: 100%;
	min-height: calc(100vh - 90px);
	@media (max-width: $medium_screen) {
		margin-left: 0;
	}
}

// header of dashboard
header {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	padding-right: 20px;
	box-shadow: 0px 0px 3px 0px #0000007a;
	@media (max-width: $medium_screen) {
		justify-content: space-between;
	}
	img {
		border-radius: 5px;
	}
	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		.hamberger {
			font-size: 25px;
			padding: 0 20px;
			display: none;
			@media (max-width: $medium_screen) {
				display: block;
			}
		}
	}
}
