.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 50px solid #fa424a;
	border-right: 50px solid transparent;
	position: absolute;
	span {
		font-size: 10px;
		padding: 0;
		margin: 0;
		position: absolute;
		top: -41px;
		left: 5px;
		color: #fff;
		transform: rotate(-45deg);
		font-weight: 800;
		@media (max-width: $medium_screen) {
			font-size: 9px;
		}
	}
}
