.desc {
	padding: 0 10px;
	height: 60px;
	border: 2px solid grey;
	margin: 0;
	color: grey;
	font-weight: 600;
}
.title {
	height: 40px;
	padding: 0 10px;
	border: 2px solid #ee7d39;
	margin: 0;
	margin-bottom: 5px;
	color: #ee7d39;
	font-family: 'Times New Roman', Times, serif;
}
