.product-detail {
	box-shadow: 2px 2px 10px 0px #00000034;
	background-color: rgb(243, 241, 241);
	width: fit-content;
	img {
		width: 200px;
	}
	.product-body {
		padding: 5px 10px;
	}
	button {
		background-color: red;
		padding: 5px 10px;
		color: #fff;
		border: none;
		outline: none;
		border-radius: 5px;
		font-size: 20px;
	}
}
