@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

$primary_color: #fff;
$secondary_color: #4d4969;
$mobile_screen: 500px;
$medium_screen: 750px;
body,
html {
	margin: 0;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-image: url('../../img/login-bg.jpg');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 100vh;
	@media screen and (max-width: $medium_screen) {
		background-size: cover !important;
	}
}

header img {
	padding: 15px;
}

section {
	display: flex;
	justify-content: center;
	color: $primary_color;
	div.top {
		text-align: center;
		width: 50%;
		h1 {
			font-size: 32.5px;
			margin: 0;
		}
		p {
			margin: 0;
			font-size: 14.5px;
		}
	}
	form {
		margin-top: 40px;
		width: 400px;
		border-radius: 10px;
		background-color: $primary_color;
		color: $secondary_color;
		padding: 20px 35px;
		h1 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
		}
		.input-group {
			display: flex;
			flex-direction: column;
			margin-bottom: 5px;
		}
		input[type='text'],
		input[type='password'] {
			outline: none;
			border: 1px solid #cecaca;
			border-radius: 5px;
			padding: 10px 15px;
			margin: 7px 0;
		}
		hr {
			margin: 20px 0 10px 0;
			border: none;
			border-top: 1px solid #cecaca;
		}
		button {
			border: none;
			outline: none;
			border-radius: 3px;
			padding: 10px;
			color: $primary_color;
			background-color: #0090fe;
		}
	}
	@media (max-width: $mobile_screen) {
		div.top {
			width: 90%;
			p {
				font-size: 15.5px;
			}
		}
		form {
			width: 100%;
			margin: 20px 10%;
			padding: 20px 30px;
		}
	}
}

footer {
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: $primary_color;
	text-align: center;
	@media (max-width: $medium_screen) {
		position: relative;
	}
}
