@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
body,
html {
  margin: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-image: url("../../img/login-bg.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media screen and (max-width: 750px) {
  body {
    background-size: cover !important;
  }
}

header img {
  padding: 15px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

section div.top {
  text-align: center;
  width: 50%;
}

section div.top h1 {
  font-size: 32.5px;
  margin: 0;
}

section div.top p {
  margin: 0;
  font-size: 14.5px;
}

section form {
  margin-top: 40px;
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  color: #4d4969;
  padding: 20px 35px;
}

section form h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

section form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

section form input[type='text'],
section form input[type='password'] {
  outline: none;
  border: 1px solid #cecaca;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 7px 0;
}

section form hr {
  margin: 20px 0 10px 0;
  border: none;
  border-top: 1px solid #cecaca;
}

section form button {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  background-color: #0090fe;
}

@media (max-width: 500px) {
  section div.top {
    width: 90%;
  }
  section div.top p {
    font-size: 15.5px;
  }
  section form {
    width: 100%;
    margin: 20px 10%;
    padding: 20px 30px;
  }
}

footer {
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
}

@media (max-width: 750px) {
  footer {
    position: relative;
  }
}
/*# sourceMappingURL=login.css.map */