@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #f1f4f8;
}

.sidebar {
  z-index: 1;
  position: fixed;
  width: 200px;
  min-width: 190px;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

.sidebar .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.sidebar .content {
  background-color: #fff;
  height: calc(100vh - 65px);
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

.sidebar .content a {
  margin: 10px 0;
  color: #6f6c87;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.sidebar .content a span {
  float: right;
}

.sidebar .content .active {
  border-left: 3px solid #057cff;
  background-color: #e6f8ff;
}

.sidebar .content :hover {
  background-color: #e6f8ff;
}

.sidebar .content hr {
  border: 0;
  margin: 0 20px;
  border-top: 1px solid #eaeef3;
}

main {
  margin-left: 200px;
  width: 100%;
  min-height: calc(100vh - 90px);
}

@media (max-width: 750px) {
  main {
    margin-left: 0;
  }
}

header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

@media (max-width: 750px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header img {
  border-radius: 5px;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button .hamberger {
  font-size: 25px;
  padding: 0 20px;
  display: none;
}

@media (max-width: 750px) {
  header button .hamberger {
    display: block;
  }
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 50px solid #fa424a;
  border-right: 50px solid transparent;
  position: absolute;
}

.triangle-topleft span {
  font-size: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -41px;
  left: 5px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-weight: 800;
}

@media (max-width: 750px) {
  .triangle-topleft span {
    font-size: 9px;
  }
}

.all_products {
  margin: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.all_products h5 {
  padding: 15px 0 0 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

@media (max-width: 750px) {
  .all_products h5 {
    font-size: 14.5px;
  }
}

.all_products .outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 15px 15px 15px;
}

.all_products .outer-container .product-card {
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #dbe0e4;
  text-align: center;
  width: calc(33% - (30px + 30px));
}

.all_products .outer-container .product-card .img_card {
  position: relative;
}

.all_products .outer-container .product-card .img_card img {
  width: 180px;
}

.all_products .outer-container .product-card hr {
  margin: 0px 0 10px 0;
  border: 0;
  border-top: 1px solid #dbe0e4;
}

.all_products .outer-container .product-card h5 {
  padding: 0;
  text-align: justify;
  text-transform: uppercase;
  color: #6f6c87;
  font-weight: 900;
  font-size: 16px;
}

@media (max-width: 750px) {
  .all_products .outer-container .product-card h5 {
    font-size: 14.5px;
  }
}

.all_products .outer-container .product-card h5 span {
  float: right;
  font-size: 26px;
  color: #4e4a68;
}

@media (max-width: 750px) {
  .all_products .outer-container .product-card h5 span {
    font-size: 24px;
  }
}

.all_products .outer-container .product-card p {
  text-align: justify;
}

.all_products .outer-container .product-card p span {
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px 5px 5px 0;
  font-size: 10px;
  border: 1px solid #4e4a68;
}

.all_products .outer-container .product-card p del {
  float: right;
  color: #6f6c87;
  font-size: 16px;
}

@media (max-width: 750px) {
  .all_products .outer-container .product-card p del {
    font-size: 14.5px;
  }
}

.all_products .outer-container .product-card small {
  float: left;
  font-weight: 600;
  color: #4e4a68;
}

@media (max-width: 1100px) and (min-width: 751px) {
  .all_products .outer-container .product-card {
    width: calc(50% - (30px + 30px + 2px));
  }
  .all_products .outer-container .product-card h5 span {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .all_products .outer-container .product-card {
    width: calc(50% - (30px + 30px + 2px));
  }
}

@media (max-width: 500px) {
  .all_products .outer-container .product-card {
    width: 100%;
  }
}
/*# sourceMappingURL=catalog.css.map */