@import '../common_files/index';
@import '../common_files/triangle_shape';

.all_products {
	margin: 30px;
	background-color: #fff;
	border-radius: 5px;
	h5 {
		padding: 15px 0 0 30px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0;
		font-size: 16px;
		@media (max-width: $medium_screen) {
			font-size: 14.5px;
		}
	}
	.outer-container {
		display: flex;
		flex-flow: row wrap;
		padding: 0 15px 15px 15px;
		.product-card {
			border-radius: 5px;
			margin: 15px;
			padding: 15px;
			border: 1px solid #dbe0e4;
			text-align: center;
			width: calc(33% - (30px + 30px));
			.img_card {
				position: relative;
				img {
					width: 180px;
				}
			}
			hr {
				margin: 0px 0 10px 0;
				border: 0;
				border-top: 1px solid #dbe0e4;
			}
			h5 {
				padding: 0;
				text-align: justify;
				text-transform: uppercase;
				color: $grey_text;
				font-weight: 900;
				font-size: 16px;
				@media (max-width: $medium_screen) {
					font-size: 14.5px;
				}
				span {
					float: right;
					font-size: 26px;
					color: #4e4a68;
					@media (max-width: $medium_screen) {
						font-size: 24px;
					}
				}
			}
			p {
				text-align: justify;
				span {
					border-radius: 10px;
					padding: 2px 10px;
					margin: 5px 5px 5px 0;
					font-size: 10px;
					border: 1px solid #4e4a68;
				}
				del {
					float: right;
					color: $grey_text;
					font-size: 16px;
					@media (max-width: $medium_screen) {
						font-size: 14.5px;
					}
				}
			}
			small {
				float: left;
				font-weight: 600;
				color: #4e4a68;
			}
			@media (max-width: 1100px) and (min-width: 751px) {
				width: calc(50% - (30px + 30px + 2px));
				h5 span {
					font-size: 16px;
				}
			}
			@media (max-width: $medium_screen) {
				width: calc(50% - (30px + 30px + 2px));
			}
			@media (max-width: $mobile_screen) {
				width: 100%;
			}
		}
	}
}
