@import '../common_files/index';

.progress_info {
	margin: 15px;
	padding-top: 10px;
	@media (max-width: $medium_screen) {
		margin: 7.5px;
	}
	h4 {
		padding-left: 15px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0;
		font-size: 16.5px;
	}
	.outer_container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		@media (max-width: $mobile_screen) {
			justify-content: center;
		}
		.card {
			width: calc(50% - (30px + 40px));
			margin: 15px;
			border-radius: 10px;
			background-color: #fff;
			padding: 20px 20px 20px 20px;
			@media (max-width: $medium_screen) {
				width: 100%;
				margin: 7.5px;
			}
			.content {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				margin-bottom: 10px;
				p {
					font-weight: 800;
					margin: 0;
					line-height: 2;
				}
				.name {
					font-size: 15px;
					color: $grey_text;
				}
				.quantity {
					font-size: 23px;
					font-weight: 800;
				}
			}
			progress {
				width: 100%;
				display: block;
				border: 0;
				height: 8px;
				border-radius: 12px;
			}
			progress::-moz-progress-bar {
				border-radius: 12px;
			}
			progress::-webkit-progress-bar {
				background: #f4f4f4;
				border-radius: 12px;
			}
			progress::-webkit-progress-value {
				border-radius: 12px;
			}
			.progress_bar_footer {
				line-height: 2;
				color: $grey_text;
				span {
					float: right;
				}
			}
		}
		.profit {
			.quantity {
				color: $blue;
			}
			progress::-webkit-progress-value {
				background-color: $blue;
			}
			progress::-moz-progress-bar {
				background-color: $blue;
			}
		}
		.feedback {
			.quantity {
				color: $green;
			}
			progress::-webkit-progress-value {
				background-color: $green;
			}
			progress::-moz-progress-bar {
				background-color: $green;
			}
		}
		.order {
			.quantity {
				color: $red;
			}
			progress::-webkit-progress-value {
				background-color: $red;
			}
			progress::-moz-progress-bar {
				background-color: $red;
			}
		}
		.users {
			.quantity {
				color: $grey;
			}
			progress::-webkit-progress-value {
				background-color: $grey;
			}
			progress::-moz-progress-bar {
				background-color: $grey;
			}
		}
	}
}

.referrrals {
	background-color: #fff;
	margin: 30px;
	padding: 15px;
	border-radius: 10px;
	@media (max-width: $medium_screen) {
		margin: 15px;
	}
	h4 {
		font-weight: 800;
		text-transform: uppercase;
		margin: 0;
		font-size: 16px;
	}
	small {
		line-height: 2;
		color: $grey;
		font-weight: 600;
	}
	table {
		margin-top: 20px;
		width: 100%;
		border-collapse: collapse;
	}
	table th {
		background-color: #f2f4f8;
		margin: 0;
		text-align: left;
	}
	table th,
	table td {
		padding: 10px;
	}
	tr {
		border-top: 2px solid $grey_bg;
		font-size: 13px;
	}
	@media (max-width: $medium_screen) {
		table th,
		table td {
			padding: 5px;
		}
		tr {
			font-size: 13px;
		}
	}
}

.your_cards {
	margin: 15px;
	@media (max-width: $medium_screen) {
		margin: 7.5px;
	}
	h4 {
		padding-left: 15px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0;
		font-size: 16.5px;
	}
	.outer-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		.card {
			position: relative;
			text-align: center;
			width: calc(33% - (30px + 20px));
			border-radius: 10px;
			margin: 15px;
			background-color: #fff;
			padding: 20px 10px;
			@media (max-width: $medium_screen) {
				margin: 7.5px;
				width: 100%;
				padding: 25px 10px 20px 10px;
			}
			p {
				position: absolute;
				top: -5px;
				right: -5px;
				font-weight: 700;
				background-color: #42bf8b;
				color: #fff;
				display: inline;
				border-radius: 5px;
				padding: 5px 6px;
				font-size: 18px;
				@media (max-width: $medium_screen) {
					font-size: 16.5px;
					left: 10px;
					top: 0px;
					right: auto;
				}
			}
			.icon {
				font-size: 50px;
				margin-bottom: 5px;
			}
			.card_no {
				font-size: 16px;
			}
			h5 {
				margin: 5px 0;
				font-weight: 800;
				font-size: 21px;
			}
			h6 {
				font-weight: 900;
				margin: 15px 0;
				font-size: 16px;
			}
			small {
				font-weight: 600;
			}
			small,
			h6,
			.icon {
				color: $grey_text;
			}
			small i {
				font-size: 13px;
			}
			hr {
				margin: 0px 0 10px 0;
				border: 0;
				border-top: 1px solid #eaeef3;
			}
		}
	}
}

.your_team {
	margin: 15px;
	padding-bottom: 30px;
	@media (max-width: $medium_screen) {
		margin: 7.5px;
	}
	h4 {
		padding-left: 15px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0;
		font-size: 16px;
	}
	.outer-container {
		display: flex;
		flex-flow: row wrap;
	}
	.card {
		border-radius: 10px;
		background-color: #fff;
		padding: 20px 20px 5px 20px;
		margin: 15px;
		width: calc(25% - (30px + 40px));
		margin: 15px;
		@media (max-width: 1100px) {
			width: calc(50% - (30px + 40px));
		}
		@media (max-width: $mobile_screen) {
			width: 100%;
			margin: 7.5px;
			br {
				display: none;
			}
		}
		h4 {
			text-transform: capitalize;
			font-size: 21px;
		}
		.round_container {
			margin: 30px 20px 30px 30px;
			text-align: end;
			span {
				border-radius: 50%;
				background-color: #057cff;
				padding: 8px 4px;
				color: #fff;
				font-size: 12px;
				margin-right: -18px;
			}
			span[data-status='NGP'] {
				background-color: #bb67ff;
			}
			span[data-status='CMP'] {
				background-color: #34f1c5;
			}
			span[data-status='JBP'] {
				background-color: #ffaf01;
			}
			span[data-status='KRD'] {
				background-color: #26b6e3;
			}
		}
		hr {
			margin: 0px 0 10px 0;
			border: 0;
			border-top: 1px solid #eaeef3;
		}
		.montly_charge {
			text-align: center;
			font-size: 12px;
			font-weight: 700;
			color: $grey_text;
		}
	}
}
