@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #f1f4f8;
}

.sidebar {
  z-index: 1;
  position: fixed;
  width: 200px;
  min-width: 190px;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

.sidebar .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.sidebar .content {
  background-color: #fff;
  height: calc(100vh - 65px);
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

.sidebar .content a {
  margin: 10px 0;
  color: #6f6c87;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.sidebar .content a span {
  float: right;
}

.sidebar .content .active {
  border-left: 3px solid #057cff;
  background-color: #e6f8ff;
}

.sidebar .content :hover {
  background-color: #e6f8ff;
}

.sidebar .content hr {
  border: 0;
  margin: 0 20px;
  border-top: 1px solid #eaeef3;
}

main {
  margin-left: 200px;
  width: 100%;
  min-height: calc(100vh - 90px);
}

@media (max-width: 750px) {
  main {
    margin-left: 0;
  }
}

header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

@media (max-width: 750px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header img {
  border-radius: 5px;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button .hamberger {
  font-size: 25px;
  padding: 0 20px;
  display: none;
}

@media (max-width: 750px) {
  header button .hamberger {
    display: block;
  }
}

.progress_info {
  margin: 15px;
  padding-top: 10px;
}

@media (max-width: 750px) {
  .progress_info {
    margin: 7.5px;
  }
}

.progress_info h4 {
  padding-left: 15px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 16.5px;
}

.progress_info .outer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .progress_info .outer_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.progress_info .outer_container .card {
  width: calc(50% - (30px + 40px));
  margin: 15px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
}

@media (max-width: 750px) {
  .progress_info .outer_container .card {
    width: 100%;
    margin: 7.5px;
  }
}

.progress_info .outer_container .card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.progress_info .outer_container .card .content p {
  font-weight: 800;
  margin: 0;
  line-height: 2;
}

.progress_info .outer_container .card .content .name {
  font-size: 15px;
  color: #6f6c87;
}

.progress_info .outer_container .card .content .quantity {
  font-size: 23px;
  font-weight: 800;
}

.progress_info .outer_container .card progress {
  width: 100%;
  display: block;
  border: 0;
  height: 8px;
  border-radius: 12px;
}

.progress_info .outer_container .card progress::-moz-progress-bar {
  border-radius: 12px;
}

.progress_info .outer_container .card progress::-webkit-progress-bar {
  background: #f4f4f4;
  border-radius: 12px;
}

.progress_info .outer_container .card progress::-webkit-progress-value {
  border-radius: 12px;
}

.progress_info .outer_container .card .progress_bar_footer {
  line-height: 2;
  color: #6f6c87;
}

.progress_info .outer_container .card .progress_bar_footer span {
  float: right;
}

.progress_info .outer_container .profit .quantity {
  color: #057cff;
}

.progress_info .outer_container .profit progress::-webkit-progress-value {
  background-color: #057cff;
}

.progress_info .outer_container .profit progress::-moz-progress-bar {
  background-color: #057cff;
}

.progress_info .outer_container .feedback .quantity {
  color: #42bf8b;
}

.progress_info .outer_container .feedback progress::-webkit-progress-value {
  background-color: #42bf8b;
}

.progress_info .outer_container .feedback progress::-moz-progress-bar {
  background-color: #42bf8b;
}

.progress_info .outer_container .order .quantity {
  color: #fb3a44;
}

.progress_info .outer_container .order progress::-webkit-progress-value {
  background-color: #fb3a44;
}

.progress_info .outer_container .order progress::-moz-progress-bar {
  background-color: #fb3a44;
}

.progress_info .outer_container .users .quantity {
  color: #b6bfc6;
}

.progress_info .outer_container .users progress::-webkit-progress-value {
  background-color: #b6bfc6;
}

.progress_info .outer_container .users progress::-moz-progress-bar {
  background-color: #b6bfc6;
}

.referrrals {
  background-color: #fff;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .referrrals {
    margin: 15px;
  }
}

.referrrals h4 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.referrrals small {
  line-height: 2;
  color: #b6bfc6;
  font-weight: 600;
}

.referrrals table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.referrrals table th {
  background-color: #f2f4f8;
  margin: 0;
  text-align: left;
}

.referrrals table th,
.referrrals table td {
  padding: 10px;
}

.referrrals tr {
  border-top: 2px solid #f1f4f8;
  font-size: 13px;
}

@media (max-width: 750px) {
  .referrrals table th,
  .referrrals table td {
    padding: 5px;
  }
  .referrrals tr {
    font-size: 13px;
  }
}

.your_cards {
  margin: 15px;
}

@media (max-width: 750px) {
  .your_cards {
    margin: 7.5px;
  }
}

.your_cards h4 {
  padding-left: 15px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 16.5px;
}

.your_cards .outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.your_cards .outer-container .card {
  position: relative;
  text-align: center;
  width: calc(33% - (30px + 20px));
  border-radius: 10px;
  margin: 15px;
  background-color: #fff;
  padding: 20px 10px;
}

@media (max-width: 750px) {
  .your_cards .outer-container .card {
    margin: 7.5px;
    width: 100%;
    padding: 25px 10px 20px 10px;
  }
}

.your_cards .outer-container .card p {
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: 700;
  background-color: #42bf8b;
  color: #fff;
  display: inline;
  border-radius: 5px;
  padding: 5px 6px;
  font-size: 18px;
}

@media (max-width: 750px) {
  .your_cards .outer-container .card p {
    font-size: 16.5px;
    left: 10px;
    top: 0px;
    right: auto;
  }
}

.your_cards .outer-container .card .icon {
  font-size: 50px;
  margin-bottom: 5px;
}

.your_cards .outer-container .card .card_no {
  font-size: 16px;
}

.your_cards .outer-container .card h5 {
  margin: 5px 0;
  font-weight: 800;
  font-size: 21px;
}

.your_cards .outer-container .card h6 {
  font-weight: 900;
  margin: 15px 0;
  font-size: 16px;
}

.your_cards .outer-container .card small {
  font-weight: 600;
}

.your_cards .outer-container .card small,
.your_cards .outer-container .card h6,
.your_cards .outer-container .card .icon {
  color: #6f6c87;
}

.your_cards .outer-container .card small i {
  font-size: 13px;
}

.your_cards .outer-container .card hr {
  margin: 0px 0 10px 0;
  border: 0;
  border-top: 1px solid #eaeef3;
}

.your_team {
  margin: 15px;
  padding-bottom: 30px;
}

@media (max-width: 750px) {
  .your_team {
    margin: 7.5px;
  }
}

.your_team h4 {
  padding-left: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.your_team .outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.your_team .card {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 20px 5px 20px;
  margin: 15px;
  width: calc(25% - (30px + 40px));
  margin: 15px;
}

@media (max-width: 1100px) {
  .your_team .card {
    width: calc(50% - (30px + 40px));
  }
}

@media (max-width: 500px) {
  .your_team .card {
    width: 100%;
    margin: 7.5px;
  }
  .your_team .card br {
    display: none;
  }
}

.your_team .card h4 {
  text-transform: capitalize;
  font-size: 21px;
}

.your_team .card .round_container {
  margin: 30px 20px 30px 30px;
  text-align: end;
}

.your_team .card .round_container span {
  border-radius: 50%;
  background-color: #057cff;
  padding: 8px 4px;
  color: #fff;
  font-size: 12px;
  margin-right: -18px;
}

.your_team .card .round_container span[data-status='NGP'] {
  background-color: #bb67ff;
}

.your_team .card .round_container span[data-status='CMP'] {
  background-color: #34f1c5;
}

.your_team .card .round_container span[data-status='JBP'] {
  background-color: #ffaf01;
}

.your_team .card .round_container span[data-status='KRD'] {
  background-color: #26b6e3;
}

.your_team .card hr {
  margin: 0px 0 10px 0;
  border: 0;
  border-top: 1px solid #eaeef3;
}

.your_team .card .montly_charge {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #6f6c87;
}
/*# sourceMappingURL=dashboard.css.map */