* {
	box-sizing: border-box;
}
.outer-rectangle {
	margin: 20px 0 0 20px;
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
	border: 2px solid #3b40e0;
	width: fit-content;
}
img {
	width: calc(100px + 5px);
	height: calc(100px + 5px);
	margin-right: 5px;
	border: 2px solid #daba3f;
}
