@import '../common_files/index';
@import '../common_files/triangle_shape';

.back_btn {
	background-color: #fff;
	font-size: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 20px 0 10px 20px;
	color: #057cff;
	@media (max-width: $medium_screen) {
		font-size: 16px;
	}
}

//product page
.product_details {
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
	h4 {
		padding: 20px 0 0 20px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0;
		font-size: 16px;
		@media (max-width: $medium_screen) {
			font-size: 14.5px;
		}
	}
	.outer_container {
		display: flex;
		flex-flow: row wrap;
		.left_container {
			width: 30%;
			@media (max-width: $mobile_screen) {
				width: 100%;
			}
			.big_img {
				position: relative;
				margin: 20px;
				border: 1px solid $grey;
				border-radius: 5px;
				padding: 15px;
				text-align: center;
				img {
					width: calc(100% - 30px);
				}
			}
			.grid_img {
				display: flex;
				flex-flow: row wrap;
				margin: 0 20px;
				img {
					width: 60px;
					height: 60px;
					border: 1px solid $grey;
					border-radius: 5px;
					margin: 0 20px 20px 0;
				}
				@media (max-width: $mobile_screen) {
					img {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.right_container {
			margin: 20px 20px 20px 0;
			width: calc(70% - 40px);
			@media (max-width: $mobile_screen) {
				width: 100%;
				padding: 20px;
			}
			.tags {
				display: flex;
				flex-flow: row wrap;
			}
			.tags {
				.shape {
					width: 100px;
					margin: 0 10px 10px 0;
					position: relative;
					span {
						text-align: center;
						position: absolute;
						right: 0;
						left: 0;
						top: 15px;
						font-size: 14px;
					}
				}
				.shape:first-child {
					border-top: 50px solid $grey_bg;
					border-right: 20px solid transparent;
					height: 0;
					span {
						top: -35px;
					}
				}
				.shape:nth-child(2),
				.shape:nth-child(3) {
					background-color: $grey_bg;
					height: 50px;
					transform: skew(-20deg);
				}
				.shape:nth-child(3) {
					margin-left: 10px;
					width: 180px;
				}
				.shape:last-child {
					border-bottom: 50px solid $grey_bg;
					border-left: 20px solid transparent;
					height: 0;
				}
			}
			h3 {
				padding: 0;
				margin: 0;
				padding-bottom: 10px;
				color: $grey_text;
				font-size: 31px;
				@media (max-width: $medium_screen) {
					font-size: 28.5px;
				}
				del {
					font-size: 18px;
					color: $grey_text;
					@media (max-width: $medium_screen) {
						font-size: 16.5px;
					}
				}
			}
			.heading {
				font-size: 36px;
				@media (max-width: $medium_screen) {
					font-size: 33px;
				}
			}
			hr {
				margin: 10px 0;
				border: 0;
				border-top: 1px solid #dbe0e4;
			}
			.size span {
				border-radius: 10px;
				padding: 2px 10px;
				margin: 5px 5px 5px 0;
				font-size: 10px;
				border: 1px solid #4e4a68;
			}
			a.seller_a {
				color: #057cff;
				font-weight: 700;
			}
			.inner-details {
				.btn-grp {
					width: 100%;
					border-bottom: 1px solid #dbe0e4;
					button {
						font-size: 17px;
						color: $grey_text;
						outline: none;
						border: none;
						padding: 10px;
						background-color: transparent;
					}
					.active {
						color: #000;
						border-bottom: 2px solid #057cff;
					}
				}
				.data {
					.active {
						display: none;
					}
					#infomation_data {
						h4 {
							margin: 0;
							padding: 0;
							font-weight: 800;
							color: $grey_text;
						}
						p {
							padding: 0;
							margin: 0;
							margin-top: 10px;
						}
						div {
							margin: 15px 0;
						}
					}
					#description_data {
						p {
							font-weight: 500;
							color: $grey_text;
						}
					}
				}
			}
		}
	}
}

.bottom-details {
	.card {
		background-color: #e4e9ef;
		border-radius: 5px;
		margin: 20px;
		padding: 20px;
		p {
			font-size: 13px;
		}
	}
}
