@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #f1f4f8;
}

.sidebar {
  z-index: 1;
  position: fixed;
  width: 200px;
  min-width: 190px;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

.sidebar .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.sidebar .content {
  background-color: #fff;
  height: calc(100vh - 65px);
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

.sidebar .content a {
  margin: 10px 0;
  color: #6f6c87;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.sidebar .content a span {
  float: right;
}

.sidebar .content .active {
  border-left: 3px solid #057cff;
  background-color: #e6f8ff;
}

.sidebar .content :hover {
  background-color: #e6f8ff;
}

.sidebar .content hr {
  border: 0;
  margin: 0 20px;
  border-top: 1px solid #eaeef3;
}

main {
  margin-left: 200px;
  width: 100%;
  min-height: calc(100vh - 90px);
}

@media (max-width: 750px) {
  main {
    margin-left: 0;
  }
}

header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px #0000007a;
          box-shadow: 0px 0px 3px 0px #0000007a;
}

@media (max-width: 750px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header img {
  border-radius: 5px;
}

header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button .hamberger {
  font-size: 25px;
  padding: 0 20px;
  display: none;
}

@media (max-width: 750px) {
  header button .hamberger {
    display: block;
  }
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 50px solid #fa424a;
  border-right: 50px solid transparent;
  position: absolute;
}

.triangle-topleft span {
  font-size: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -41px;
  left: 5px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-weight: 800;
}

@media (max-width: 750px) {
  .triangle-topleft span {
    font-size: 9px;
  }
}

.back_btn {
  background-color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 10px 20px;
  color: #057cff;
}

@media (max-width: 750px) {
  .back_btn {
    font-size: 16px;
  }
}

.product_details {
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.product_details h4 {
  padding: 20px 0 0 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

@media (max-width: 750px) {
  .product_details h4 {
    font-size: 14.5px;
  }
}

.product_details .outer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.product_details .outer_container .left_container {
  width: 30%;
}

@media (max-width: 500px) {
  .product_details .outer_container .left_container {
    width: 100%;
  }
}

.product_details .outer_container .left_container .big_img {
  position: relative;
  margin: 20px;
  border: 1px solid #b6bfc6;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.product_details .outer_container .left_container .big_img img {
  width: calc(100% - 30px);
}

.product_details .outer_container .left_container .grid_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 20px;
}

.product_details .outer_container .left_container .grid_img img {
  width: 60px;
  height: 60px;
  border: 1px solid #b6bfc6;
  border-radius: 5px;
  margin: 0 20px 20px 0;
}

@media (max-width: 500px) {
  .product_details .outer_container .left_container .grid_img img {
    width: 50px;
    height: 50px;
  }
}

.product_details .outer_container .right_container {
  margin: 20px 20px 20px 0;
  width: calc(70% - 40px);
}

@media (max-width: 500px) {
  .product_details .outer_container .right_container {
    width: 100%;
    padding: 20px;
  }
}

.product_details .outer_container .right_container .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.product_details .outer_container .right_container .tags .shape {
  width: 100px;
  margin: 0 10px 10px 0;
  position: relative;
}

.product_details .outer_container .right_container .tags .shape span {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 15px;
  font-size: 14px;
}

.product_details .outer_container .right_container .tags .shape:first-child {
  border-top: 50px solid #f1f4f8;
  border-right: 20px solid transparent;
  height: 0;
}

.product_details .outer_container .right_container .tags .shape:first-child span {
  top: -35px;
}

.product_details .outer_container .right_container .tags .shape:nth-child(2),
.product_details .outer_container .right_container .tags .shape:nth-child(3) {
  background-color: #f1f4f8;
  height: 50px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.product_details .outer_container .right_container .tags .shape:nth-child(3) {
  margin-left: 10px;
  width: 180px;
}

.product_details .outer_container .right_container .tags .shape:last-child {
  border-bottom: 50px solid #f1f4f8;
  border-left: 20px solid transparent;
  height: 0;
}

.product_details .outer_container .right_container h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  color: #6f6c87;
  font-size: 31px;
}

@media (max-width: 750px) {
  .product_details .outer_container .right_container h3 {
    font-size: 28.5px;
  }
}

.product_details .outer_container .right_container h3 del {
  font-size: 18px;
  color: #6f6c87;
}

@media (max-width: 750px) {
  .product_details .outer_container .right_container h3 del {
    font-size: 16.5px;
  }
}

.product_details .outer_container .right_container .heading {
  font-size: 36px;
}

@media (max-width: 750px) {
  .product_details .outer_container .right_container .heading {
    font-size: 33px;
  }
}

.product_details .outer_container .right_container hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #dbe0e4;
}

.product_details .outer_container .right_container .size span {
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px 5px 5px 0;
  font-size: 10px;
  border: 1px solid #4e4a68;
}

.product_details .outer_container .right_container a.seller_a {
  color: #057cff;
  font-weight: 700;
}

.product_details .outer_container .right_container .inner-details .btn-grp {
  width: 100%;
  border-bottom: 1px solid #dbe0e4;
}

.product_details .outer_container .right_container .inner-details .btn-grp button {
  font-size: 17px;
  color: #6f6c87;
  outline: none;
  border: none;
  padding: 10px;
  background-color: transparent;
}

.product_details .outer_container .right_container .inner-details .btn-grp .active {
  color: #000;
  border-bottom: 2px solid #057cff;
}

.product_details .outer_container .right_container .inner-details .data .active {
  display: none;
}

.product_details .outer_container .right_container .inner-details .data #infomation_data h4 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: #6f6c87;
}

.product_details .outer_container .right_container .inner-details .data #infomation_data p {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.product_details .outer_container .right_container .inner-details .data #infomation_data div {
  margin: 15px 0;
}

.product_details .outer_container .right_container .inner-details .data #description_data p {
  font-weight: 500;
  color: #6f6c87;
}

.bottom-details .card {
  background-color: #e4e9ef;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.bottom-details .card p {
  font-size: 13px;
}
/*# sourceMappingURL=product_detail.css.map */